<div class="card bg-light mt-1">
    <h5 class="card-title rounded text-black-50">Estimator</h5>
    
    <div class="mb-3 d-flex flex-grow">
    <div class="number">You invest
      <!-- <small>You invest</small> -->
      <input type="number" class="form-control form-control-sm" name="number1">
    </div>
    <div class="nigeria-line col-sm-6">
    <img class="line" src="../../assets/images/Line 19.png">
    <img class="nigerian" src="../../assets/images/download (1) 2.png" />
    <h4 class="ngn">NGN</h4>
    <span class="material-icons-outlined">expand_more</span>
    </div>
  </div>
  <div class="separator">
    •
    •
    •
    •
  </div>
  <div class="dot subtraction">
    <div> - </div>
    <h5>into palm oil</h5>
    <p>in january 2022</p>
  </div>
  <div class="separator">
    •
    •
    •
    •
  </div>
  <div class="dot equals">
    <div> = </div>
    <h5>And make profit</h5>
  </div>
  <div class="separator">
    •
    •
    •
    •
  </div>
  <div class="dot divide">
    <div>÷</div>
    <p>by december 2022</p>
  </div>
  <div class="separator">
    •
    •
    •
    •
  </div>

  <div class="flag2">
    <div class="number">
      <small>You Get</small>
      <input type="number" readonly class="form-control">
    </div>
    <img class="line" src="../../assets/images/Line 19.png" />
    <img class="nigerian" src="../assets/images/download (1) 2.png" />
    <h4 class="ngn">NGN</h4>
    <span class="material-icons-outlined">expand_more</span>
  </div>
  <button type="button" onclick="">Invest now</button>
</div>