@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

.scroll {
  flex-direction: row;
  position: relative;
  max-width: 220rem;
  overflow-x: scroll;
  column-gap: 2rem;
}
