<div class="table-container">
  <div class="recent-transaction">
    <h3>Recent Transactions</h3>
    <p>View All</p>
  </div>
  <div class="table-container1">
    <table class="content-table">
      <thead>
        <tr>
          <th>RECIPENT</th>
          <th>TRANSACTION</th>
          <th>DATE</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>palm oil</td>
          <td>25 Units 62,500 NGN</td>
          <td>2/4/2020</td>
          <td><button class="comp">COMPLETED</button></td>
        </tr>
        <tr>
          <td>maize</td>
          <td>25 Units 62,500 NGN</td>
          <td>2/4/2020</td>
          <td><button class="comple">COMPLETED</button></td>
        </tr>
        <tr>
          <td>yam</td>
          <td>25 Units 62,500 NGN</td>
          <td>2/4/2020</td>
          <td><button class="pend">PENDING</button></td>
        </tr>
        <tr>
          <td>palm oil</td>
          <td>25 Units 62,500 NGN</td>
          <td>2/4/2020</td>
          <td><button class="failed">FAILED</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
