@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

.bg-light {
  width: 300px;
  height: 120px;
}

.cardbody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .bg-light {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .bg-light {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 120px;
  }

  .cardbody {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
  .bg-light {
    display: none;
  }

  .cardbody {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
