<div class="col-md">
  <div class="card bg-light ms-4">
    <div class="cardbody d-flex align-items-center justify-content-between">
      <div class="card ms-3 mt-3 mb-3 h-50 w-150 bg-warning">
        <img
          class="img-fluid h-100 w-100 p-3"
          src="../assets/images/balance.png"
          alt="balance"
        />
      </div>
      <div class="text me-1 mb-0">
        <p class="h6">WALLET BALANCE</p>
        <h4>N 1,113,750</h4>
        <h6 class="text-decoration-underline mt-0">Fund Wallet</h6>
      </div>
    </div>
  </div>
</div>
