

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.wavy {
    margin-top: 8rem;
    margin-left: -2.8rem;
    filter: brightness(0.5);
  }

  @media (max-width: 768px) {
    .h1{
      font-size: medium;
    }
    h1 {
      font-weight: 800;
      font-size: 1.8rem;
  }
  h2 {
      font-size: 3.4rem;
      color: white;
  }
  
  h3 {
      font-size: 0.87rem;
  }
  h4 {
      font-size: 0.8rem;
  }
  h5 {
      font-size: 0.77rem;
  }
  small {
      font-size: 0.75rem;
  }
  .i {
      font-size: medium;
  }
  p {
      font-size: small;
  }

  }

  @media (min-width: 320px) {
    .h1{
      font-size: small;
    }
  h2 {
      font-size: small;
      color: white;
  }
  
  h3 {
      font-size: smaller;
  }
  h4 {
      font-size: smaller;
  }
  h5 {
      font-size: smaller;
  }
  small {
      font-size: 0.75rem;
  }
  .i {
      font-size: smaller;
  }
  p {
      font-size:x-small;
  }
  

  }