<div class="activity-container1">
  <div class="recent-act">
    <p>Recent Activities</p>
  </div>
  <div class="overall-activity">
    <div class="activity-container1__item1">
      <div class="palm-oily">
        <img src="../assets/images/Gain.png" alt="gain" />
      </div>
      <div class="palm-oily1">
        <h6>Palm oil</h6>
        <p>$12,678,000</p>
      </div>
    </div>
    <div class="activity-container1__item2">
      <div class="maize__item">
        <img src="../assets/images/Gain.png" alt="gain" />
      </div>
      <div class="maize__item1">
        <h6>Maize</h6>
        <p>$12,678,000</p>
      </div>
    </div>
    <div class="activity-container1__item3">
      <div class="millet">
        <img src="../assets/images/Gain.png" alt="gain" />
      </div>
      <div class="millet-item">
        <h6>Millet</h6>
        <p>$12,678,000</p>
      </div>
    </div>
  </div>
</div>
<div class="last-activity1">
  <div class="last-activity1__item">
    <h3>Get 10% Off on a Referral</h3>
    <p>Credited once they make a transfer</p>
  </div>
</div>
