<div class="col-md-sm">
  <div class="card bg-light">
    <div
      class="cardbody d-flex align-items-center justify-content-between min-vh-20 w-100"
    >
      <div class="card ms-3 mt-3 mb-3 h-50 w-150">
        <img
          class="img-fluid p-3"
          src="../assets/images/active.png"
          alt="active"
        />
      </div>
      <div class="text me-3">
        <p>ACTIVE INVESTMENT</p>
        <!-- <h3>12</h3> -->
        <h4>N 35,000</h4>
        <h6>View Portfolio</h6>
      </div>
    </div>
  </div>
</div>
