<div class="col-md-sm">
  <div class="card bg-light me-3 mb-auto">
    <div class="cardbody d-flex align-items-center justify-content-between">
      <div class="card ms-3 mt-3 mb-3 h-50 w-150 bg-secondary">
        <img
          class="img-fluid-sm p-3 h-100 w-100"
          src="../assets/images/active.png"
          alt="active"
        />
      </div>
      <div class="text">
        <p class="h6">ACTIVE INVESTMENT</p>
        <p class="h3 fs-5">12</p>
        <p class="h4 fs-5">N 35,000</p>
        <p class="h6 fs-6 text-decoration-underline">View Portfolio</p>
      </div>
    </div>
  </div>
</div>
