<div class="col">
  <div class="col-md mt-3">
    <div
      class="card w-85 d-flex flex-column align-items-center px-2 py-3"
      style="height: 250px; background: #fff"
    >
      <img
        src="../assets/images/Oval (3).png"
        alt="image"
        class="rounded-circle mt-2 mb-4"
        style="width: 100px; height: 100px; object-fit: cover"
      />
      <p class="fw-bold text-secondary mb-0">Toby Okeke</p>
      <p class="small text-secondary">toby.okeke@gmail.com</p>
      <button class="btn btn-outline-secondary btn-sm">COMPLETE PROFILE</button>
    </div>
  </div>
  <div class="col-md mt-1">
    <div
      class="w-100 rounded text-center my-3 py-3"
      style="background: #080f50"
    >
      <p class="fs-5 mb-0 text-white">Get 10% Off on a Referral</p>
      <p class="mb-0 text-white">Credited once they make a transfer</p>
    </div>
  </div>
</div>
