<div class="col-md card mt-3 px-3 py-2">
  <div
    class="d-flex align-items-center justify-content-between text-secondary mt-2 mb-3"
  >
    <p class="fs-4 fw-semibold">Available Investments</p>
    <p class="fs-5 fw-semibold">View all</p>
  </div>
  <div class="scroll">
    <div class="col-sm-6">
      <div class="card bg-primary bg-gradient">
        <div class="card-body">
          <span class="material-icons-outlined">credit_card</span>
          <small class="card-text">Palm Oil
            <div class="green-circle"></div>
          </small>
          <h5 class="card-title">10000 Units/2500NGN</h5>
          <p class="date">Expires:20/03/25</p>
          <div class="white-box">
            <img src="../../assets/images/Mcard.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-success bg-gradient">
        <div class="card-body">
          <span class="material-icons-outlined">credit_card</span>
          <small class="card-text">Maize
            <div class="green-circle"></div>
          </small>
          <h5 class="card-title">10000 Units/2500NGN</h5>
          <p class="date">Expires:20/03/25</p>
          <div class="white-box">
            <img src="../../assets/images/Mcard.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-info bg-gradient">
        <div class="card-body">
          <span class="material-icons-outlined">credit_card</span>
          <small class="card-text">Beans
            <div class="green-circle"></div>
          </small>
          <h5 class="card-title">10000 Units/2500NGN</h5>
          <p class="date">Expires:20/03/25</p>
          <div class="white-box">
            <img src="../../assets/images/Mcard.png" />
          </div>
        </div>
      </div>
    </div>
    
    </div>
   <!-- <div class="time">
      <div class="palm">
        <span class="material-icons-outlined">credit_card</span>

        <small>Palm Oil

          <div class="green-circle"></div>
        </small>

        <h4>10000 Units/2500NGN</h4>
        <p>Expires:20/03/25</p>
        <div class="white-box">
          <img src="../assets/images/mastercard.png" />
        </div>
      </div> -->

      <!-- <div class="maize">
        <span class="material-icons-outlined">
          credit_card
        </span>
        <small>Maize
          <div class="green-circle"></div>
        </small>
        <h4>10000 Units/2500NGN</h4>
        <p>Expires:20/03/25</p>
        <div class="maize-box">
          <img src="../assets/images/mastercard.png" />
        </div>
      </div>

      <div class="beans">
        <span class="material-icons-outlined">credit_card</span>
        <small>Beans
          <div class="green-circle"></div>
        </small>
        <h4>10000 Units/2500NGN</h4>
        <p>Expires:20/03/25</p>
        <div class="beans-box">
          <img src="../assets/images/mastercard.png" alt="" />
        </div>
      </div>
    </div>
</div> -->
